button{
    border: none;
    background-color: red;
    color: rgb(250, 250, 250);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.count{
    background-color: rgb(212, 212, 212);
}