@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    font-family: "Afacad Flux", sans-serif;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}